/* You can add global styles to this file, and also import other style files */

html, body { height: fit-content; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background:lightgray; }
:root{
  --content-width:1500px;
  font-size: 20px;
}
a{
  all: unset;
  cursor: pointer;
}
input:focus{
  outline: none;
}
.spacer {
  flex: 1 1 auto;
}
.flex-center{
  display: flex;
  align-content: center;
  justify-content: center;
}